version: "3.9"

services:
  flask-app:
    build: .
    container_name: flask_app
    command: python app.py
    ports:
      - "5000:5000"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0

  celery-worker:
    build: .
    container_name: celery_worker
    command: celery -A celery_app.celery worker --loglevel=info
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
